<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %> <% include
    ../static/partials/messages.ejs %>

    <main class="container">
      <h1>Edit Book List</h1>

      <form action="/books/<%= book.id %>/update" method="post">
        <div class="row">
          <div class="col">
            <input
              value="<%= book.title %>"
              type="text"
              class="form-control"
              name="title"
              aria-describedby="titleHelp"
              placeholder="Enter Book Title"
            />
          </div>
          <div class="col">
            <input
              value="<% book.author %>"
              type="text"
              class="form-control"
              name="author"
              placeholder="Enter Author"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
