<!-- goes to /books view -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <%include ../static/partials/navbar.ejs %>

      <!-- *** NEED CURRENT USER'S BOOK LIST VIEW HERE, b/c form to add to or create list is /books/new *** -->
      <h1>My Favorite Books</h1>

      <ul class="list-group">
        <% books.forEach(book => { %>
        <li class="list-group-item">
          <a href="/books/<%= book.id %>"> <%= book.title %></a>
          <!-- <a href="/books/<%= book.id %>/edit" class="btn btn-warning">Edit</a> -->
          <!-- <form
            style="display:initial"
            action="/books/<%= book.id %>/destroy"
            method="post"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form> -->
        </li>
        <% }) %>
      </ul>
      <div>
        <a href="/books/new" class="btn btn-primary">Update My Book List</a>
      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
