<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <%include ../static/partials/navbar.ejs %> <% include
      ../../services/textSearchService.js %>

      <h1>My Favorite Books</h1>

      <form action="/books/create" method="post">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="title"
              aria-describedby="titleHelp"
              placeholder="Enter Book title"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="author"
              aria-describedby="authorHelp"
              placeholder="Author"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
