<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <%include ../static/partials/navbar.ejs %>

      <h1>My Favorite Books</h1>

      <form action="/books/create" method="post">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="title"
              aria-describedby="titleHelp"
              placeholder="Enter Book title"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="author"
              aria-describedby="authorHelp"
              placeholder="Author"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <script
        const
        endpoint="https://openlibrary.org/api/books?bibkeys=ISBN:0451526538&callback=mycallback"
      >
        //use the top100 json list
        const books = [];
        //I won't need to use fetch b/c static file
        //1)***do it all inside ejs file: drop-down of 100 items
        //2)search service with button etc as search
        fetch(endpoint)
          .then(blob => blob.json())
          .then(data => books.push(...data));

        function findMatches(wordToMatch, books) {
          return books.filter(name => {
            const regex = new RegExp(wordToMatch, "gi"); //g is global, i is insensitive to lower or upperCase
            return name.title.match(regex) || name.author.match(regex);
          });
        }

        function displayMatches() {
          const matchArray = findMatches(this.value, books);
          const html = matchArray
            .map(name => {
              const regex = new RegExp(this.value, "gi");
              const bookTitle = name.title.replace(
                regex,
                `<span class="h1">${this.value}</span>`
              ); //highlights the matched bits
              const authorName = name.author.replace(
                regex,
                `<span class="h1">${this.value}</span>`
              );
              return `<li>
                <span class="name">${bookTitle}, ${authorName}</span>
                </li>`;
            })
            .join(" ");
          suggestions.innerHTML = html;
        }

        //ejs
        const searchInput = document.querySelector(".search");
        const suggestions = document.querySelector(".suggestions");

        searchInput.addEventListener("change", displayMatches);
        searchInput.addEventListener("keyup", displayMatches); //to get suggestions when the user types---TOO MUCH FOR API

        //controller passes a callback & route into ejs file
        //once you have the value pulled up in search, you can easily submit/POST
        //inside input fields, function inside of that: displayMatches, etc--need a MATCHES ROUTE, which passes keyed values to server
      </script>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
