<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <%include ../static/partials/navbar.ejs %> <% include
    ../static/partials/messages.ejs %>
    <main class="container">
      <!-- <% include
      ../../services/textSearchService.js %> -->

      <h3>
        Welcome to your book list! Please add up to TEN books to your list.
      </h3>

      <h1>My Favorite Books</h1>
      <% books.forEach(book => { %> <% if(currentUser && (currentUser.id ==
      book.userId || currentUser && currentUser.role === "admin")) { %>
      <ul class="list-group">
        <li class="list-group-item">
          <h2><%= book.title %> By: <%=book.author %></h2>
          <a href="/books/<%= book.id %>/edit" class="btn btn-warning">Edit</a>
          <form
            style="display:initial"
            action="/books/<%= book.id %>/destroy"
            method="post"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </li>
      </ul>
      <% } %> <% }) %>

      <form action="/books/create" method="post">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="title"
              aria-describedby="titleHelp"
              placeholder="Enter Book title"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="author"
              aria-describedby="authorHelp"
              placeholder="Author"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
