<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <%include ../static/partials/navbar.ejs %>

      <!-- <% include
      ../../services/textSearchService.js %> -->

      <h1>My Favorite Books</h1>

      <ul class="list-group">
        <% books.forEach(book => { %>
        <li class="list-group-item">
          <a href="/books/<%= book.id %>"> <%= book.title %></a>
          <a href="/books/<%= book.id %>/edit" class="btn btn-warning">Edit</a>
          <form
            style="display:initial"
            action="/books/<%= book.id %>/destroy"
            method="post"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </li>
        <% }) %>
      </ul>

      <form action="/books/create" method="post">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="title"
              aria-describedby="titleHelp"
              placeholder="Enter Book title"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="author"
              aria-describedby="authorHelp"
              placeholder="Author"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
