<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %> <% include
    ../static/partials/messages.ejs %>

    <!-- CARD with photo ?? -->
    <!-- <div class="card bg-dark text-white">
      <img
        src="../../../assets/BookFriends.jpg"
        class="card-img"
        alt="stack of books on yellow background"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Welcome to Book Friend</h5>
        <p class="card-text">List Your Top Ten Favorite Books</p>
        <p class="card-text">
          Meet friends who also have your favorites on their list!
        </p>
      </div>
    </div> -->

    <!-- JUMBOTRON for now -->

    <div class="jumbotron" style="background-color: white">
      <h1 class="display-4">Welcome to Book Friends!</h1>
      <p class="lead">
        The place to find and meet people who love YOUR favorite books.
      </p>
      <hr class="my-4" />
      <ol>
        <li>Add your top ten favorite books to your list.</li>
        <li>
          Get matched with folks who have also chosen some of your favorites.
        </li>
        <li>
          Say hello to your potential new friends via private message, if you so
          choose.
        </li>
        <li>That's it!</li>
      </ol>
      <a
        class="btn btn-primary btn-lg"
        href="/users/sign_up"
        role="button"
        style="background-color: hsl(200, 34%, 50%)"
        >Start your list</a
      >
    </div>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
