<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %> <% include
    ../static/partials/messages.ejs %>
    <main>

      <h2>Welcome to your profile page. </h2>
      <h5>You are the only one (besides admins) who can see your page, until you connect with folks who have matching books. (For this demo, this page is static and will not show your actual list. Go to 'My Book List' in the navbar for now to see your list.)</h5>

      <!-- Eventually add logic to always show to OWNER, show only parts to other members until matched, etc. -->

      <% if(currentUser && (currentUser.id == book.userId || currentUser &&
      currentUser.role === "admin")) { %>

      
      
      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
            <div class="col-sm-4 py-3 px-lg-5 ">
                <h3>Username</h3>
                  <p>some cool user info & avatar that will preload</p>
            </div>
            <div class="col-sm-8 py-3 px-lg-5">
                

            <h2>My Book List</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Book</th>
                  <th>Author</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>book1</td>
                  <td>author1</td>
                </tr>
                <tr>
                  <td>book2</td>
                  <td>author2</td>
                </tr>
                <tr>
                  <td>book3</td>
                  <td>author3</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <% } %>

        

        <!-- <div class="card mb-3">
          <img
            src="../BookFriends.jpg"
            class="card-img-top"
            alt="stack of colorful books atop a table"
          />
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
